*{margin:0;padding:0;box-sizing: border-box;}
body{overflow: hidden;background-color: #fafafa;}
button{cursor: pointer;}
.title_content{
  z-index: 100;
  width: 100%;
  text-align: center;
}
.title_content.fixed{
  position: fixed;
  top: 50%;
  margin-top: -30px;
}
.title_content .app-title{
  font-size: 1.5rem;
  color: pink;
  text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;
}
.title_content .button-start{
  margin-top: 10px;
  display: inline-block;
  width: 100px;
  height: 50px;
  font-size: 25px;
  font-weight: bold;
  background-color: pink;
  border-color: darkmagenta;
}
.bg_ready_img{
  position: absolute;
}
.bg_ready_img1{
  right: -20%;
  top: -10%;
  width: 80%;
  transform: rotate(-150deg);
}
.bg_ready_img2{
  left: -10%;
  top: 0;
  width: 50%;
}
.bg_ready_img3{
  left: -30%;
  bottom: -10%;
  width: 100%;
  transform: rotate(50deg);
}
.bg_ready_img4{
  right: -15%;
  bottom: 10%;
  width: 50%;
  transform: rotate(-50deg);
}
.section-game{
  position: relative;
}
.section-game .list{
  display: flex;
  font-size: 0;
  flex-wrap:wrap;
}
.section-game .list-item{
  width: 33.33%;
  padding: 0.5%;
}
.section-game .list-item .button_open{
  position: relative;
  overflow: hidden;
  width: 100%;
  background-color: #fafafa;
  border: 1px solid #ccc;
  border-radius: 10px;
  perspective: 100rem;
}
.section-game .list-item .button_open img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  vertical-align: middle;
  transform: rotateY(0deg);
}
.section-game .list-item .button_open .bg_img{
  display: block;
  width: 100%;
  padding-bottom: 100%;
  background:pink;
  transform: rotateY(-180deg);
}
.section-game .list-item .button_open.hide:not(.opened) img{
  transform: rotateY(180deg);
}
.section-game .list-item .button_open.hide:not(.opened) .bg_img{
  transform: rotateY(0deg);
}

.section-game .list-item .card{
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0,0,0);
  -webkit-perspective: 0;
  -webkit-transition: 1s; 
  backface-visibility: hidden; /*뒷면 숨기기*/ 
  visibility: visible; 
  transition: 1s;
}
.section-game .freezing{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width :100%;
  height :100%;
}
.section-game .freezing.active{
  display: block;
}